/* Posts List Styles */
.user-posts {
    width: 60%; /* Set the width of the posts list */
    margin: 0 auto; /* Center the posts list horizontally */
}

.user-posts ul {
    padding: 10px;
    margin: 10px;
}

.user-posts .post {
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 20px;
    display: block; /* Use block for normal flow layout */
    align-items: flex-start; /* Align items at the start */
    flex-direction: column; /* Stack avatar and content vertically on small screens */
    border-radius: 10px;
}

.user-posts img {
    max-height: 60px;
    border-radius: 10px;
    margin-right: 20px;
}

.user-posts h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
}

.user-posts p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    white-space: normal; /* Ensure this is set to normal */
    word-wrap: break-word; /* Ensure this is set to break-word */
}

/* Post Status Bar Styles */
.user-posts .post-status-bar {
    display: flex; /* Use flexbox for the status bar layout */
    align-items: center; /* Center items vertically */
    gap: 10px; /* Add space between the button and paragraph */
}

.user-posts .like-button {
    display: inline-flex; /* Ensure button is inline-flex */
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid black; /* Add a black border */
    padding: 20px;
    border-radius: 10px;
}

.profile-container p {
    font-size: 25px;
}