header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img.header-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

nav {
    display: flex;
    align-items: center;
}

/* Container to center .login-register */
.login-register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f0f0; /* Light background color */
}

.login-register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-area, .register-area {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.login-register h2 {
    margin-top: 0;
    color: #333;
}

.login-register form {
    display: flex;
    flex-direction: column;
}

.login-register label {
    margin-top: 10px;
}

.login-register input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-register button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.login-register button:hover {
    background-color: #0056b3;
}

.login-register .or-divider {
    text-align: center;
    padding: 0 20px;
    color: #777;
}
